<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kaanburaksener.bench" >

    <application
        android:name=".handler.AppController"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".ui.InitialActivity"
            android:theme="@style/AppTheme"
            android:screenOrientation="portrait"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.SigninActivity"
            android:theme="@style/AppTheme"
            android:screenOrientation="portrait"
            android:label="@string/app_name">
        </activity>

        <activity
            android:name=".ui.SignupActivity"
            android:theme="@style/AppTheme"
            android:screenOrientation="portrait"
            android:label="@string/app_name">
        </activity>

        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme"
            android:screenOrientation="portrait"
            android:label="@string/app_name" >
        </activity>

        <activity
            android:name=".ui.RequestHistoryActivity"
            android:theme="@style/AppTheme"
            android:screenOrientation="portrait"
            android:label="@string/title_request_history" >
        </activity>

        <activity
            android:name=".ui.ApplicationHistoryActivity"
            android:theme="@style/AppTheme"
            android:screenOrientation="portrait"
            android:label="@string/title_application_history" >
        </activity>

        <activity
            android:name=".ui.MyProfileActivity"
            android:theme="@style/AppTheme"
            android:screenOrientation="portrait"
            android:label="@string/title_my_profile" >
        </activity>

        <activity
            android:name=".ui.ViewApplicantsActivity"
            android:theme="@style/AppTheme"
            android:screenOrientation="portrait"
            android:label="@string/title_view_applicants" >
        </activity>

        <activity
            android:name=".ui.EditProfileActivity"
            android:theme="@style/AppTheme"
            android:screenOrientation="portrait"
            android:label="@string/title_edit_profile" >
        </activity>

        <service android:name=".service.ApplicationResultService" />

        <receiver
            android:name=".service.ServiceReceiver"
            android:enabled="true"
            android:exported="false" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>

    </application>

    <!--  Internet Permissions -->
    <uses-permission android:name="android.permission.INTERNET" />

</manifest>
